button {
    margin-bottom: 30px;
}

p {
    letter-spacing: 1.1px;
    font-size: medium;
}

.container {
    max-width: 350px;
    background-color: lightgrey;
}

#img_left {
    transform: rotateY(180deg);
}

/* ANIMATION */
.shaker {
    animation-name: shaker;
    animation-duration: 0.5s;
    animation-iteration-count: 6;
    animation-direction: alternate;
    animation-timing-function: ease;
}

@keyframes shaker {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
