.container {
    max-width: 350px;
}

button {
    margin-bottom: 30px;
}

p {
    letter-spacing: 1.1px;
    font-size: medium;
}

.mover {
    -webkit-animation: mover 0.5s infinite  alternate;
    animation: mover 0.5s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}



